body {
  margin-bottom: 60px;
  text-align: left;
  background-image: url("../images/mountain-lake.jpeg") no-repeat;
  background-size: cover;
}

p {
  color: #000;
  font-family: Roboto, sans-serif;
  text-align: left;
}

h1, h2, h3, h4 {
  font-family: Roboto Condensed, sans-serif;
  margin-left: 5px;
}

img {
  margin-left: 25px;
  height: auto;
  width: auto;
  max-width: 150px;
  max-height: 150px;
}

.btn {
  padding: 15px;
  border: 0 none;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
  outline: 0 none;
}

.btn-primary {
  background: #0099cc;
  color: #ffffff;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
  background: #33a6cc;
}

.btn-primary:active, .btn-primary.active {
  background: #007299;
  box-shadow: none;
}

.btn.sharp {
  border-radius:0;
}

 #profilehtml {
  margin: 100px 0 25px 15px;
}

#update-profile {
  margin: 450px 0 0 10px;
}

#project-display {
  margin: 100px 0 0 10px;
}

#update-project {
  margin: 25px 0 0 10px;
}
