/* project list */

body {
  /*margin-bottom: 60px;*/
  padding-top: 100px;
  /*background-image: url(../images/pink-sunset.jpeg);*/
  background-size: cover;
  text-align: center;
  color: #000;
}

p {
  color: #000;
  font-family: Roboto, sans-serif;
}

h1, h2, h3, h4 {
  font-family: Roboto Condensed, sans-serif;
}

input {
  color: #000;
}

img {
  height: auto;
  width: auto;
  max-width: 150px;
  max-height: 150px;
}

.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}
.navbar-wrapper {
  margin-top: 20px;
}

.center-block {
  padding-top: 10px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

button {
  color: #000;
}

.footer {
  position: absolute;
  margin-top: 30px;
  width: 100%;
  height: 60px;
}
